<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.batch.oms.mappers.ShopStockMapper">
  <select id="selectStocktakingList" parameterType="String" resultType="com.fw.batch.oms.dto.ShopStockDto">
    select
      m.str_id, -- 매장아이디
      (select str_nm from oprt_str_mngm where str_id=m.str_id) str_nm, -- 매장명
      m.stck_stts_code, -- 재고조사상태코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='STCK_STTS' and code_id=m.stck_stts_code) stck_stts_code_nm, -- 재고조사상태
      m.gtwy_qntt, -- 게이트웨이수량
      m.stck_cmpl_date, -- 작업완료일
      b.bay_type_code, -- 매대유형코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='BAY_TYPE' and code_id =b.bay_type_code) bay_type_code_nm,
      b.bay_nm, -- 매대명
      b.xpsr_rdr, -- 노출순서
      t.stck_inch_code, -- 재고인치코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='STCK_NCH' and code_id =t.stck_inch_code) stck_inch_code_nm,
      t.stck_clr_code, -- 재고색상코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='STCK_CLR' and code_id =t.stck_clr_code) stck_clr_code_nm,
      t.wrkr_pre_qntt, -- 작업자사전체크수량
      r.lbl_id, -- 라벨아이디
      r.rgst_date, -- 등록일
      case
          when t.stck_inch_code='TAG_16' and t.stck_clr_code='WHT' then 1
          when t.stck_inch_code='TAG_16' and t.stck_clr_code='BLCK' then 2
          when t.stck_inch_code='TAG_22' and t.stck_clr_code='WHT' then 3
          else 4
      end tag_rdr, -- 태그노출순서
      r.scan_yn, -- 스캔여부
      r.mtch_yn -- 매치여부
    from
      nvnt_stck_mngm m, -- 재고관리 재고 조사 관리
      nvnt_stck_bay b, -- 재고관리 재고 조사 매대
      nvnt_stck_bay_tag t, -- 재고관리 재고 조사 매대 태그
      nvnt_stck_rslt r -- 재고관리 재고 조사 결과
    WHERE 1=1
      and m.id = #{id} -- 재고조사아이디
      and b.stck_id = m.id
      and t.bay_id = b.id
      and r.bay_tag_id  = t.id
    order by
        b.xpsr_rdr, tag_rdr, r.rgst_date
  </select>
  <select id="selectBayTagList" parameterType="String" resultType="com.fw.batch.oms.dto.ShopBayTagDto">
    select
      m.str_id, -- 매장아이디
      (select str_nm from oprt_str_mngm where str_id=m.str_id) str_nm, -- 매장명
      m.stck_stts_code, -- 재고조사상태코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='STCK_STTS' and code_id=m.stck_stts_code) stck_stts_code_nm, -- 재고조사상태
      m.gtwy_qntt, -- 게이트웨이수량
      m.stck_cmpl_date, -- 작업완료일
      b.bay_type_code, -- 매대유형코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='BAY_TYPE' and code_id =b.bay_type_code) bay_type_code_nm,
      b.bay_nm, -- 매대명
      b.xpsr_rdr, -- 노출순서
      t.stck_inch_code, -- 재고인치코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='STCK_NCH' and code_id =t.stck_inch_code) stck_inch_code_nm,
      t.stck_clr_code, -- 재고색상코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='STCK_CLR' and code_id =t.stck_clr_code) stck_clr_code_nm,
      t.wrkr_pre_qntt, -- 작업자사전체크수량
      case
          when t.stck_inch_code='TAG_16' and t.stck_clr_code='WHT' then 1
          when t.stck_inch_code='TAG_16' and t.stck_clr_code='BLCK' then 2
          when t.stck_inch_code='TAG_22' and t.stck_clr_code='WHT' then 3
          else 4
      end tag_rdr -- 태그노출순서
    from
      nvnt_stck_mngm m, -- 재고관리 재고 조사 관리
      nvnt_stck_bay b, -- 재고관리 재고 조사 매대
      nvnt_stck_bay_tag t -- 재고관리 재고 조사 매대 태그
    WHERE 1=1
      and m.id = #{id} -- 재고조사아이디
      and b.stck_id = m.id
      and t.bay_id = b.id
  </select>
  <select id="selectStockInfo" parameterType="String" resultType="com.fw.batch.oms.dto.ShopStockInfoDto">
    select
      pre_dlvr_qntt , -- 조사전 납품수량
      pre_dtnl_dlvr_qntt , -- 조사전 추가납품수량
      pre_etc_qntt , -- 조사전 기타수량
      str_qntt , -- 진열대 수량
      br_qntt , -- 백룸 수량
      br_dfct_qntt, -- 백룸 불량수량
      stck_inch_code, -- 재고인치코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='STCK_NCH' and code_id =stck_inch_code) stck_inch_code_nm,
      stck_clr_code, -- 재고색상코드
      (select code_nm from syst_code_dtl_mngm where prnt_code_id='STCK_CLR' and code_id =stck_clr_code) stck_clr_code_nm,
      case
              when stck_inch_code='TAG_16' and stck_clr_code='WHT' then 1
              when stck_inch_code='TAG_16' and stck_clr_code='BLCK' then 2
              when stck_inch_code='TAG_22' and stck_clr_code='WHT' then 3
              else 4
          end tag_rdr -- 태그노출순서
    from
      nvnt_stck_info -- 재고관리 재고조사 정보
    where
      stck_id = #{id} -- 재고조사아이디
    order by tag_rdr
  </select>
  <select id="selectStockIf" parameterType="String" resultType="com.fw.batch.oms.dto.ShopStockIf">
    SELECT
      lbl_id -- 라벨아이디
      , mtch_yn -- 매치여부
      , prdc_id -- 제품아이디
      , prdc_nm -- 제품명
      , gtwy_nm -- 게이트웨이 이름
      , btry_stts -- 배터리상태
      , sgnl_stts -- 신호상태
      , `type` -- 유형
      , tmpl_type -- 템플릿 타입
      , tmpl_mnl -- 템플릿 매뉴얼
      , ntwr_stts -- 네트워크상태
      , lbl_stts -- 라벨상태
      , last_rspn_time -- 마지막 응답 시간
    FROM
      nvnt_stck_rslt_vldt -- 재고관리 재고 조사 결과 검증
    WHERE
      stck_id = #{id} -- 재고조사아이디
  </select>
  <select id="selectIfLabelList" parameterType="String" resultType="com.fw.batch.oms.dto.ShopStockIf">
    SELECT
      lbl_id -- 라벨아이디
      , prdc_id -- 제품아이디
      , prdc_nm -- 제품명
      , gtwy_nm -- 게이트웨이 이름
      , btry_stts -- 배터리상태
      , sgnl_stts -- 신호상태
      , `type` -- 유형
      , tmpl_type -- 템플릿 타입
      , tmpl_mnl -- 템플릿 매뉴얼
      , ntwr_stts -- 네트워크상태
      , lbl_stts -- 라벨상태
      , last_rspn_time -- 마지막 응답 시간
    FROM
      nvnt_aims_ntrf -- 재고관리 AIMS 인터페이스
    WHERE
      str_id = #{strId} -- 매장아이디
  </select>
</mapper>
